<article class="flex justify-content-center align-items-center">
    <div class="w-4">
        <h3 class="text-center">Welcome to</h3>
        <h1 class="text-center">Codewars Leaderboard</h1>
        <p class="text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus fugit quisquam illo unde, 
            nulla corporis placeat voluptas dolores! Quos dolorem repellat adipisci ratione quisquam 
            rem amet dolore labore reprehenderit veritatis.
        </p>
        <div class="flex justify-content-center">
            <button pButton type="button" label="Join" class="p-button-success"></button>
        </div>
    </div>
</article>
