<article class="flex justify-content-center align-items-center">
  <div class="w-8">
    <p class="text-center">Welcome to</p>
    <h2 class="text-center">Codewars Leaderboard</h2>
    <p class="text-center">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
    <div class="flex justify-content-center">
      <button
        pButton
        type="button"
        label="Join"
        class="p-button-success"
        (click)="showRegister()"
      ></button>
    </div>
  </div>
</article>
