<article class="flex justify-content-center align-items-center">
  <div class="w-8">
    <p class="text-center">Welcome to</p>
    <h1 class="text-center brand">
      CODE<span class="text-primary">WARRIOR</span>
    </h1>
    <p class="text-center w-7 mx-auto">
      Take a peek at how people are doing on codewars.
    </p>
    <div class="flex justify-content-center">
      <button
        pButton
        type="button"
        label="Get started"
        class="p-button-primary p-button-lg mt-6"
        (click)="showRegister()"
      ></button>
    </div>
  </div>
</article>
