<nav
  class="flex justify-content-between align-items-center px-3 pt-1 surface-200"
>
  <h2 class="brand" routerLink="/">
    CODE<span class="text-primary">WARRIOR</span>
  </h2>
  <div *ngIf="loggedInUser; else auth" class="flex align-items-center gap-3">
    <p>{{ loggedInUser.fullName }}</p>
    <p-button
      label="Logout"
      styleClass="p-button-sm"
      (click)="logout()"
    ></p-button>
  </div>
  <ng-template #auth>
    <div class="flex gap-3">
      <p-button
        label="Login"
        styleClass="p-button-sm"
        (click)="showLogin()"
      ></p-button>
      <p-button
        label="Join"
        styleClass="p-button-sm p-button-success"
        (click)="showRegister()"
      ></p-button>
    </div>
  </ng-template>
</nav>
