<form (submit)="login()">
  <small class="text-xs text-red-600">{{ usernameError }}</small>
  <input
    type="text"
    name="username"
    id="username"
    pInputText
    placeholder="Username"
    class="w-full mb-2"
    [style]="{ 'font-family': 'inherit' }"
    [(ngModel)]="credentials.username"
  />
  
  <small class="text-xs text-red-600">{{ passwordError }}</small>
  <input
    type="password"
    name="password"
    id="password"
    pInputText
    placeholder="Password"
    class="w-full mb-2"
    [style]="{ 'font-family': 'inherit' }"
    [(ngModel)]="credentials.password"
  />

  <div class="flex justify-content-center">
    <button type="submit" pButton label="Login"></button>
  </div>

  <div class="flex justify-content-center align-items-center">
    <p class="flex justify-content-center">Don't have an account?</p>
    <button
      pButton
      type="button"
      label="Register"
      class="p-button-link"
    ></button>
  </div>
</form>
