<div class="flex justify-content-center text-center">
  <p-tabView class="w-9">
    <p-tabPanel header="Honor" [selected]="true">
      <p-table [value]="users_honors" [paginator]="true" [rows]="7">
        <ng-template pTemplate="header">
          <tr class="w-full text-sm text-left text-gray-500 border-round-md">
            <th>USERNAME</th>
            <th>NAME</th>
            <th>HONOR</th>
            <th>ACTIONS</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr class="w-full text-sm text-left">
            <td>{{user.username}}</td>
            <td>{{user.name}}</td>
            <td>{{user.honor}}</td>
            <td class="flex gap-1">
              <p-button [routerLink]="['/user', user.id]" label="View" styleClass="p-button-sm"></p-button>
              <p-button label="Delete" styleClass="p-button-sm p-button-danger" (click)="removeUser(user.codewarsId)"></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>
    <p-tabPanel header="Score">
      <div class="flex gap-4">
        <p
          class="flex justify-content-start text-xs font-semibold text-blue-600"
        >
          Based on:
        </p>
        <select (change)="onChange($event.target)"
          name="demo"
          class="text-xs font-semibold p-0 border-round border-blue-600"
        >
          <option selected="selected" value="overall">Overall</option>
          <option value="python">Python</option>
          <option value="java">Java</option>
        </select>
      </div>

      <p-table [value]="users_filter" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
          <tr class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <th>USERNAME</th>
            <th>NAME</th>
            <th>SCORE</th>
            <th>ACTIONS</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr class="w-full text-sm text-left">
            <td>{{user.username}}</td>
            <td>{{user.name}}</td>
            <td *ngIf="filterValue == 'overall' else elseBlock">{{user.ranks.overall.score}}</td>
            <ng-template #elseBlock>
              <td>{{user.ranks.languages[filterValue].score}}</td>
            </ng-template>
            <td class="flex gap-1">
              <p-button [routerLink]="['/user', user.id]" label="View" styleClass="p-button-sm"></p-button>
              <p-button label="Delete" styleClass="p-button-sm p-button-danger" (click)="removeUser(user.codewarsId)"></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>
  </p-tabView>
  
  <p-toast></p-toast>
  <p-confirmDialog header="Confirmation">
    <ng-template pTemplate="footer">
      <button type="button" pButton icon="pi pi-times" label="No" class="p-button-primary"></button>
      <button type="button" pButton icon="pi pi-check" label="Yes" class="p-button-danger"></button>
  </ng-template>
  </p-confirmDialog>
</div>
